doctype html
html(lang='en')
head
  title Pinterest Clone
  meta(charset='utf-8')
  meta(name='description' content='Pinterest Clone by Derek Dhammaloka')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Load Styles
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
  link(rel='stylesheet' href='/style.css')
body
  // Set Up Navbar
  article(class='container-fluid')
    nav(class='navbar navbar-expand-lg sticky-top navbar-dark bg-primary')
      a(href='/' class='navbar-brand') Pinterest Clone
      button(type='button' class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#nav-items' aria-controls='nav-items' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
      article(class='collapse navbar-collapse' id='nav-items')
        ul(class='navbar-nav mr-auto')
        if !user
          span
            a(href='/auth' class='btn btn-outline-light') Sign In
        else
          span(class='mr-2')
            // Set Up Variable
            - let userLink = '/user/' + user.link
            a(href=userLink class='text-light') #{user.username}
          span
            a(href='/auth/signout' class='btn btn-outline-light mr-auto') Sign Out
    // Set Up content
    article(class='container-fluid' id='main-container')
      article(class='container bg-light rounded pb-2 pt-2 mt-2 border')
        h4 Sign In
        p This is a demo site and for everyones convenience you cannot sign up
        p There are 5 test accounts that you can use and play with
        p If you want, you can sign in with GitHub, in which case no personal information will be stored (except for GitHub ID and Username)
        p
          button(class='btn btn-outline-dark' type='button' data-bs-toggle='collapse' data-bs-target='#collapse-accounts') Show Test Accounts
          a(href='/auth/github' class='btn btn-outline-dark') Sign In with GitHub
        article(class='collapse' id='collapse-accounts')
          article(class='card card-body')
            p Username: test1, Password: 12345
            p Username: test2, Password: 12345
            p Username: test3, Password: 12345
            p Username: test4, Password: 12345
            p Username: test5, Password: 12345
        // Set Up Form
        form(method='post' action='/auth/local')
          article(class='input-group')
            label(for='input-username') Username
            input(id='input-username' class='form-control' type='text' placeholder='Enter username' name='username')
          article(class='input-group')
            label(for='input-password') Password
            input(id='input-password' class='form-control' type='password' placeholder='Enter password' name='password')
          button(type='submit' class='btn btn-primary') Sign In
        if message
          span(class='text-danger') #{message}
    // Set Up Footer
  footer(class='footer')
    article(class='container-fluid ml-0 mb-0 text-dark')
      p(class='mb-auto') Made by Derek Dhammaloka
      a(href='https://www.linkedin.com/in/derekdhammaloka/' target='_blank' title='View LinkedIn Profile')
        i(class='fab fa-linkedin')
      a(href='https://www.github.com/derektypist' target='_blank' title='View GitHub')
        i(class='fab fa-github') 
  
  // Load Scripts
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
  script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
  script(src='/index.js')      

