/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HTML and Body */
html {
  position: relative;
  min-height: 100vh !important;
  overflow-y: scroll;
}

body {
  font-family: 'Roboto', Arial, Verdana, sans-serif;
  min-height: 100%;
  margin-bottom: 70px !important;
}

/* Footer - Eclipse Background */
.footer {
  background: #343148;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  text-align: right;
  width: 100%;
}

/* Grid */
.grid::after {
  content:'';
  display:block;
  clear:both;
}

/* Media Queries */
@media (min-width: 576px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .grid-sizer, .grid-item {
    width: 20%;
  }
}

